<div class="container">
  <h2 class="post_list">post_list</h2>

  <div class="posts_new">
    <%= link_to 'new', new_post_path %>
  </div>

  <% @posts.each do |post| %>
    <div class="post" >
      <%= link_to account_path(post.user_id) do %>
        <div class="post_head">
          <%= image_tag post.user.avatar_image %>
          <%= post.user.name %>
        </div>
      <% end %>
      <%= link_to post_path(post) do %>
        <div class="post_body">
          <% if post.images.attached? %>
            <% post.images.each do |image| %>
              <%= image_tag image %>
            <% end %>
          <% else %>
            no image
          <% end %>
        </div>
      <% end %>
      <div class="post_action" >
        <% if current_user.has_liked?(post) %>
          <div class="active-heart post<%= post.id %>" id="<%= post.id %>">
            <%= image_tag 'heart-active.svg' %>
          </div>
          <div class="inactive-heart post<%= post.id %> hidden" id="<%= post.id %>">
            <%= image_tag 'heart.svg' %>
          </div>
        <% else %>
          <div class="active-heart post<%= post.id %> hidden" id="<%= post.id %>">
            <%= image_tag 'heart-active.svg' %>
          </div>
          <div class="inactive-heart post<%= post.id %>" id="<%= post.id %>">
            <%= image_tag 'heart.svg' %>
          </div>
        <% end %>

        <%= link_to new_post_comment_path(post) do %>
          <%= image_tag 'comment.png' %>
        <%  end %>
        <%= image_tag 'retweet.png' %>
      </div>
      <div class="post_footer">
        <%= post.content %>
      </div>
    </div>
  <% end %>

</div>
