<div class="container">
  <h2>post_list</h2>

  <div class="posts_new">
    <%= link_to 'new', new_post_path %>
  </div>

  <% @posts.each do |post| %>
    <div class="post">
      <div class="post_head">
        <%= image_tag post.user.avatar_image %>
        <%= post.user.name %>
      </div>
      <%= link_to post_path(post) do %>
        <div class="post_body">
          <% if post.images.attached? %>
            <% post.images.each do |image| %>
              <%= image_tag image %>
            <% end %>
          <% else %>
            no image
          <% end %>
        </div>
      <% end %>
      <div class="post_action">
        <%= image_tag 'heart-active.svg' %>
        <%= image_tag 'comment.png' %>
        <%= image_tag 'retweet.png' %>
      </div>
      <div class="post_footer">
        <%= post.content %>
      </div>
    </div>
  <% end %>

</div>
