<div class="container" id="post_show" data-postId="<%= @post.id %>">
  <h2>post_show</h2>

  <div class="post_action">
    <%= link_to 'delete', post_path(@post), method: :delete %>
    <%= link_to 'edit', edit_post_path(@post) %>
  </div>

  <div class="post">
    <div class="post_head">
    </div>

    <div class="post_body">
      <% if @post.images.attached? %>
        <% @post.images.each do |image| %>
          <%= image_tag image %>
        <% end %>
      <% end %>
    </div>

    <div class="post_footer">
      <%= @post.content %>
    </div>
  </div>

  <div class="comments">
    <h2>Comments</h2>
    <div class="comments_container">
    <%# JavaScript %>
    </div>
    <input type="text" id="comment">
    <button class="Comments_btn btn-primary" type="button"> Comment </button>
  </div>

</div>

<%= javascript_pack_tag 'post', 'data-turbolinks-track': 'reload' %>
