<!DOCTYPE html>
<html>
  <head>
    <title>InstaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.present? %>
      <p>こんにちは、<%= current_user.name %>さん！</p>
      <%= image_tag current_user.avatar_image %>
    <% else %>
      <p>こんにちは、ゲストさん！</p>
    <% end %>
    
    <div class="container">
      <%= link_to 'login', new_user_session_path %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete  %>
      <%= link_to 'Edit', edit_user_registration_path %>

      <% if flash.present? %>
          <div class="flash">
            <div class="flash_massage">
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
            </div>
          </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
