<!DOCTYPE html>
<html>
  <head>
    <title>InstaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if flash.present? %>
          <div class="flash">
            <div class="flash_massage">
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
            </div>
          </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
