<div class="container" id="account_show" data-userId="<%= @user.id %>">
  <h2>account_show</h2>

  <div class="account">
    <div class="account_head">
      <%= image_tag 'toleftarrow.png' %>
      <div class="account_head_name">
        <%= @user.name %>
      </div>
      <% if current_user&.has_followed?(@user) %>
        <div class="follow">Unfollow</div>
      <% else %>
        <div class="follow">Follow</div>
      <% end %>
    </div>
    <div class="account_img">
      <%= image_tag @user.avatar_image %>
    </div>
  </div>

  <div class="info">
    <div class="info_data">
      <div class="info_data_posts">
        <%= @user.posts_count %>
      </div>
      <div class="info_data_followers">
        <%= @user.followers_count %>
      </div>
      <div class="info_data_following">
        <%= @user.followings_count %>
      </div>
    </div>
    <div class="info_label">
      <div class="info_label_posts">
        Posts
      </div>
      <div class="info_label_followers">
        <%= link_to account_followers_path(@user.id) do %>
          Followers
        <% end %>
      </div>
      <div class="info_label_following">
        Following
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'follow', 'data-turbolinks-track': 'reload' %>
